main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
}

.dNone {
  display: none;
}

.container {
  min-height: 100vh;
}

.quizContainer {
  height: 90vh;
  border: 1px solid lightgray;
}

.sideBar {
  width: 200px;
  background-color: blue !important;
  color: white !important;
}

.sideBar a {
  color: white !important;
}

.quizAppLogo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.quizAppLogo img {
  height: 100px;
  width: auto;
}

.catogrieLinks {
  margin-top: 50px;
  list-style-type: none;
  text-decoration: none;
  gap: 40px;
}

.catogrieLinks a {
  text-decoration: none;
  font-size: 20px;
}

.questionsContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.questionCard {
  width: 80%;
}

.questionCard h2 {
  text-align: center;
}

.answer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer:hover {
  background-color: rgb(219, 217, 217);
  cursor: pointer;
}

.answerOption {
  font-weight: bold;
  padding: 10px 16px;
  background-color: lightgray;
}

.questionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrowButton {
  display: flex;
  justify-content: center;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  align-items: center;
}

.arrowButton:hover {
  background-color: rgb(221, 231, 231);
  cursor: pointer;
  border: 0.5px solid black;
}

.arrowButton img {
  width: 60px;
}

#failures {
  text-align: center;
}

.endScreenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
